html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Inter', sans-serif;
  color: #d2d0d0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 800;
  margin: 0px 0px 10px;
}

h1 {
  color: #fff;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  text-align: center;
  min-width: 100px;
  padding: 0.75rem 1rem;
  border: 1px solid purple;
  border-radius: 3px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(143, 64, 248, 0.5),
    rgba(39, 200, 255, 0.5)
  );
  line-height: 1;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
  font-weight: 300;
  position: relative;
  margin-bottom: 20px;
}

.button:hover,
.button:focus {
  background-color: rgba(214, 212, 207, 0.2);
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* **************************** */
/* ********** Header ********** */
/* **************************** */

.page-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 100%;
  font-weight: 700;
  background-color: black;
  font-variant: small-caps;
  border-bottom: 1px solid purple;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  padding-top: 30px;
}

.logo {
  /* Need new logo for it to work */
  /* min-height: 10px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 36px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-transition-property: opacity;
  transition-property: opacity; */
}

.logo:hover {
  opacity: 0.5;
}

/* **************************** */
/* ******** Navigation ******** */
/* **************************** */

.navigation-list {
  /* removes bullet points */
  list-style-type: none;
}

.navigation-list li {
  /* lays navigation list horizontally */
  display: inline-block; /* turns each list item into inline-block element */
  margin-left: 15px;
}

.navigation-list_item--active {
  text-decoration: none; /* Removes underline from current page */
}

/* Main Content */

main {
  margin: 0 auto;
  width: 100%;
  padding: 0 0vw;
  min-height: 100vh;
}

section {
  padding: 15vh 0;
  margin: auto;
  max-width: 1000px;
}

/* **************************** */
/* ********** Index *********** */
/* **************************** */

#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.intro-text-wrapper {
  text-align: left;
  max-width: 540px;
  margin-bottom: 25px;
}

.profile {
  max-width: 700px; /* keeps container from exceeding 700px */
  margin: 0 auto; /* 0 for full margin top to bottom, auto splits evenly right and left margin */
  padding-top: 10px; /* Add padding to top of container */
}

.profile__portrait {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%; /* adds rounded border to image */
}

.profile-name {
  font-size: 30px;
  font-weight: 700;
  font-variant: small-caps;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
}

.profile-text {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
}

.fade-in {
  animation: fadeIn 1s ease 0s 1 normal both;
  -webkit-animation: fadeIn 1s ease 0s 1 normal both;
  -moz-animation: fadeIn 1s ease 0s 1 normal both;
  -o-animation: fadeIn 1s ease 0s 1 normal both;
  -ms-animation: fadeIn 1s ease 0s 1 normal both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

/* **************************** */
/* ********* About Me ********* */
/* **************************** */

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  padding-top: 130px;
}

.about-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.about-heading {
  font-size: 60px;
  font-weight: 700;
  font-variant: small-caps;
  color: purple;
  font-family: 'Roboto Mono', monospace;
}

.about-me-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 540px;
  margin-bottom: 25px;
}

.skills-list-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 540px;
  margin-bottom: 25px;
  border: 2px solid purple;
  background-image: linear-gradient(
    to right,
    rgba(143, 64, 248, 0.5),
    rgba(39, 200, 255, 0.5)
  );
}

.skills-list {
  /* margin: 20px 0px 0px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: auto;
  overflow: hidden;
  list-style-type: none;
}

.skills-list li {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
  line-height: 1.6;
  font-size: 30px;
}

/* **************************** */
/* ********* Contact ********** */
/* **************************** */

#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  padding-top: 130px;
}

.contact-title {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
}

.contact-text {
  display: flex;
  padding-bottom: 100px;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: left;
  max-width: 540px;
  margin-bottom: 25px;
}

.contact-img {
  width: 60px;
  height: 60px;
  -webkit-transition: width-height;
  transition: width-height;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-img:hover {
  width: 90px;
  height: 90px;
  opacity: 0.5;
}
/* **************************** */
/* ********* Projects ********* */
/* **************************** */

#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.projects-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0%;
  margin-bottom: 0;
}

.projects-title {
  font-size: 60px;
  font-weight: 700;
  font-variant: small-caps;
  color: purple;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.project-links_img {
  transition: transform 0.5s;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.project-links_img:hover {
  transform: scale(1.2);
}

.language-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 540px;
  margin: 0;
  border: 2px solid purple;
}

.language-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.language-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  font-variant: small-caps;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.language-list li {
  display: flex;
  font-size: 15px;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  color: #38ee65;
  line-height: 1.6;
}

.grid {
  display: grid;
  width: 100%;
  color: lightgray;
  font-family: 'Roboto Mono', monospace;
  grid-template-columns: 1fr 1fr 1fr; /* allocates even space to each grid item */
  grid-gap: 20px; /* creates gap between each grid item */
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.grid__item {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  background: linear-gradient(
    to right,
    rgba(143, 64, 248, 0.5),
    rgba(39, 200, 255, 0.5)
  );
  width: auto; /* Make sure new layout grid used by modern browsers */
  min-height: auto;
  margin: 0;
  padding: 20px;
}

.grid-item-title {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* .grid__item:last-child { */
/* Tells last child which column and row to start and stop */
/* -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
} */

@media all and (max-width: 500px) {
  /* all specifies which media, max-width defines up to what screen size */
  .grid {
    /* -ms-grid-columns: 1fr; */
    grid-template-columns: 1fr; /* changes 3-column grid to a 1 column grid */
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  /* screen sizes between 500px to 750px */
  .grid {
    /* -ms-grid-columns: 1fr 20px 1fr; */
    grid-template-columns: 1fr 1fr; /* changes 3-column grid to a 2 column grid */
  }
}

@media all and (max-width: 750px) {
  /* targets both screen ranges */
  .grid {
    grid-gap: 10px; /* gap between grid item when screen is small */
  }

  /* tells grid item to split margin space evenly */
  /* shrinks word "Work" in small screen */
  /* .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  } */
}

/* **************************** */
/* ********** Footer ********** */
/* **************************** */

.page-footer {
  clear: both; /* Removes both right and left float properties */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: sticky; /* keeps footer in place even when scrolling */
  bottom: 0; /* puts footer on bottom of browser page */
  text-align: center;
  width: 100%; /* centers footer */
  background-color: black;
  border-top: 1px solid purple;
  line-height: 0.1; /* brings text and icons closer */
  margin-bottom: 15px;
  padding-bottom: 15px; /* Adds space under icons */
}

.footer-img {
  width: 50px;
  height: 50px;
  -webkit-transition: width-height;
  transition: width-height;
}

.footer-img:hover {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

/* **************************** */
/* ****** SVG Animations ****** */
/* **************************** */

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
